body {
    font-family: Arial, sans-serif;
    background-color: #daebf7;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  